.splash
  .welcome Welcome to Fun Raiser
  
%ul
  - unless user_is_logged_in?
    %li
      %a{ href: sign_in_path } Click Here to Log In
    %li
      %a{ href: sign_up_path } Click Here to Sign Up
  %li
    %a{ href: '#' } Click Here to Browse Fundraisers