.splash
  %h1 Welcome to FunRaiser
  
%ul
  - if user_is_logged_in?
    %li
      %a{ href: user_path( controller.current_user ) } Go to Your Dashboard
  - else
    %li
      %a{ href: sign_in_path } Log In
    %li
      %a{ href: sign_up_path } Sign Up
  %li
    %a{ href: all_fundraisers_index_path } Browse Fundraisers