%h1 Hello #{@user.first_name} #{@user.last_name}

%h2 These are your fundraisers:

- @fundraisers.each do |fundraiser|
  %a{ href: fundraiser_path( fundraiser )}
  
%h2 Fill out the form below to create a new fundraiser:

= render '/fundraisers/new_fundraiser_form'