%h1 Hello #{@owner_user.first_name} #{@owner_user.last_name}

%h2 These are your fundraisers:

- @fundraisers.each do |fundraiser|
  %a{ href: user_fundraiser_path( @owner_user, fundraiser )} #{fundraiser.fundraiser_name}
  
%h2 Fill out the form below to create a new fundraiser:

= render '/fundraisers/new_fundraiser_form'