!!!
%html
  %head
    %title = Fun Raiser | Have Fun Raising Funds!
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body{ :class => body_tag_class }
    .body_background
      .page
        .header
          %a{ href: root_path }
            %h1 Fun Raiser
      
        .content
          = yield