!!!
%html
  %head
    %title = Fun Raiser | Have Fun Raising Funds!
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body{ :class => body_tag_class }
    .body_background
      .page
        %header
          %a.logo{ href: root_path } Fun Raiser
          
          - if user_is_logged_in
            %a{ href: sign_out_path } Sign Out
          - else
            %a{ href: sign_in_path } Sign In
            |
            %a{ href: sign_up_path } Sign Up
      
        .content
          = yield